In [37]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_excel('symptoms.xls')
df.head()

,iD,Name,Age,Temperature,Cough,Shortness of Breath,Headache,Body Pain,Infection
0,1,Vernon,66,42.376709,1,3,1,1,0
1,2,Alden,28,54.118108,0,3,0,1,1
2,3,Quinn,44,47.557910,1,2,0,1,0
3,4,Emmanuel,64,49.947462,0,2,0,0,1
4,5,Hilel,40,44.660533,1,3,1,0,1

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   iD                   400 non-null    int64
 1   Name                 400 non-null    object
 2   Age                  400 non-null    int64
 3   Temperature          400 non-null    float64
 4   Cough                400 non-null    int64
 5   Shortness of Breath  400 non-null    int64
 6   Headache             400 non-null    int64
 7   Body Pain            400 non-null    int64
 8   Infection            400 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 28.2+ KB

In [49]:
df['Infection'].value_counts()

1    220
0    180
Name: Infection, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
y = df.Infection
x = df[['Age','Temperature','Cough','Shortness of Breath','Headache','Body Pain']]

In [52]:
x.head()

   Age  Temperature  Cough  Shortness of Breath  Headache  Body Pain
0   66    42.376709      1                    3         1          1
1   28    54.118108      0                    3         0          1
2   44    47.557910      1                    2         0          1
3   64    49.947462      0                    2         0          0
4   40    44.660533      1                    3         1          0

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_test

     Age  Temperature  Cough  Shortness of Breath  Headache  Body Pain
13    25    41.589909      0                    3         0          1
303   38    53.661868      0                    2         0          0
315   13    38.799086      0                    1         0          0
65    21    47.531946      1                    2         1          0
299   80    46.720861      1                    2         0          0
..   ...          ...    ...                  ...       ...        ...
185   24    47.288115      0                    1         1          1
97    30    39.775675      1                    1         1          1
18    42    39.322482      0                    3         1          1
354   77    54.190272      1                    1         0          0
60    33    43.051325      0                    3         0          0

[80 rows x 6 columns]

In [54]:
x_train = x_train.values
x_test = x_test.values
y_train = y_train.values
y_test = y_test.values

In [57]:
type(y_train)

numpy.ndarray

In [58]:
from sklearn.linear_model import LogisticRegression

In [59]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [67]:
clf.predict_proba([[65,52,1,0,0,1]])[0][1]

0.5818074947086919